@import '../../../styles/constants';

.product{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 100vh;
  background-color: $mainColor;
  &__title {
    line-height: 30px;
    color: $textMainColor;
    margin: 10px 0 10px;
  }
  &__image {
    width: 100%;
    height: auto;
  }
  &__price {
    height: $grid40;
    padding: $grid20;
    text-align: center;
    width: 100%;
    background-color: $hoverMainColor;
    font-size: $fontSizeLarge;
    color: $textMainColor;
  }
}
