<div class="products">
  <h3 class="products__title">{{Products[productType]}}</h3>
  <div class="products__products-list">
    <div class="products__product" *ngFor="let product of productsList" (click)="showProductDetails(product)">
      <img [src]="product.imageURL" class="products__product-image">
        <p class="products__product-title">{{product.name}}</p>
        <p class="products__product-description">{{product.description}}</p>
      <p class="products__product-price">Цена: {{product.price | pcConfiguratorCurrencyPipe}}</p>
      <button class="products__product-add-to-config-button pc-configurator__accept-button-primary"
              type="button" (click)="selectThisProduct(product)">Добавить в конфигурацию</button>
    </div>
  </div>
</div>
