@import 'constants.scss';

.pc-configurator__references {
  padding: $grid10;
  font-size: $fontSizeBase;
  cursor: pointer;
  &:hover {
    background-color: $backgroundColor;
    color: $textSecondaryColor;
  }
}

.pc-configurator__accept-button-primary {
  font-size: $fontSizeLarge;
  padding: $grid5;
  cursor: pointer;
  background-color: $confirmationColor;
  border-radius: $borderRadius;
  border: none;
  color: $textMainColor;
}
