
$mainColor: #ffffff;
$secondaryColor: #0da18a;
$hoverMainColor: #a2defd;
$backgroundColor: #2b2b2b;
$confirmationColor: #63dc38;
$rejectionColor: #ef0808;

$shadow: 0 0 10px black;

$textMainColor: #002852;
$textSecondaryColor: white;

$borderRadius: 5px;

$fontSizeBase: 14px;
$fontSizeLarge: 18px;

$grid40: 40px;
$grid20: 20px;
$grid10: 20px;
$grid5: 8px;

$headerHeight: 80px;
