<div class="homepage">
  <div class="config-panel">
    <button class="config-panel__select-config pc-configurator__submit-button">Приступить к сборке</button>
    <h3 class="config-panel__description">На данном ресурсе вы можете собственноручно собрать   подходящую вам
      конфигурацию персонального компьютера и ознакомиться с расценками на комплектующие.<br>
      Также вы можете заказать сборку у наших специальстов по заданным вами параметрам.</h3>
  </div>
  <div class="existing-configurations">
    <h3 class="existing-configurations__title">
      Готовые сборки
    </h3>
  </div>
  <div class="homepage__parts">
    <h3 class="homepage__parts-title">
      Комплектующие:
    </h3>
    <app-parts></app-parts>
  </div>
  <div class="support">
    <button class="config-panel__select-config pc-configurator__submit-button">Заказать сборку</button>
    <h3 class="support__title">
      Подборка комплектующим нашими специалистами по заданным вами параметрам, таким как :<br>
      цена, режим использования(игровой, домашний, графика итд.).<br>
      Профессиональная сборка и доставка.
    </h3>
  </div>
  <!--<div class="homepage__products-list">
    <app-product class="homepage__product" *ngFor="let product of (products$ | async)" [product]="product"></app-product>
  </div>-->
</div>

